<!doctype html>
<html>
    <head>
        <title>{% if title %}{{ title }} - {% endif %}Anavah</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/{{ template }}/bootstrap.min.css" rel="stylesheet"> 
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Anavah</a>
                </div>                
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                                <li><a href="/apps/bbs/">BBS</a></li>
                                <li><a href="/apps/blog/">Blog</a></li>
                                <li><a href="/apps/store/">Store</a></li>
                                <li><a href="/apps/support/">Support</a></li>
                                <li><a href="/apps/wiki/">Wiki</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Link</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/ucp/"><span class="label label-info">42</span></a></li>
                        <li class="dropdown">   
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            <h1>{% if title %}{{ title }}{% else %}Anavah{% endif %}</h1>
            <hr>

            {% block body %}{% endblock %} 
        </div>


        <!-- JAVASCRIPT -->
        <script src="https://code.jquery.com/jquery-1.11.2.min.js" integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA= sha512-eBrO3JneTOjVPZtDoVjGReqxsj39/WtXs8RCsRrMSjRODVsAZ9S3i7Fzq73tdfuRxBDytaWPcdQ4qmJm0EjZig==" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    </body>
</html>
